assets/types/*

node_modules
.env.development
coverage
coverage.json
typechain

pkg/shell/mac/bats-core/*

# envs
*.env

# OpenZeppelin: Network file
.openzeppelin/unknown-*.json

#Hardhat files
cache
artifacts